# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store


data/*
!data/README.md

model/*
!model/README.md

output/*
!output/README.md

old_codes/*

deployment/*
!deployment/generate_output.py
!deployment/output.json
!deployment/README.md

*.json
*.jsonl

*.safetensors

*.ipynb